* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body {
    background-color: #f3f3f3;
}
p {
    padding: 0;
    margin: 0;
}
.hide {
    display: none;
}

.notice {
    padding: 16px 32px;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 4px;
    color: #5c5c5c;
}
.notice::before {
    content: '!';
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-weight: 900;
    border-radius: 50%;
    color: #fff;
    background-color: #454545;
    margin-right: 12px;
}
.notice.back::before {
    content: '👋🏻';
    background-color: unset;
}

.tips {
    text-decoration: underline;
}

/* Main */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.lines {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px 60px;
}
.line {
    --color: '';
    border: 1px solid var(--color);
    border-radius: 4px;
    padding: 16px 30px;
    color: #fff;
    background-color: #fff;
    cursor: pointer;
    position: relative;
}
.line::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 4px;
    transform: translateX(-50%);
    background-color: var(--color);
    transition: .1s;
}
.line:hover,
.line.active {
    color: var(--color);
    background-color: var(--color);
}
.line:hover:after,
.line.active::after {
    width: calc(100% - 10px);
    border-radius: 4px;
    bottom: 2px;
    background-color: #fff;
}
.line span {
    font-weight: bold;
    filter: grayscale(1) contrast(999) invert(1);
}

.last-update-time {
    border-bottom: 1px solid #fff;
    border-radius: 4px;
}

.trains-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}
.trains-section {
    --color: #c7c7c7;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    background-color: #fff;
    border: 1px solid var(--color);
    border-radius: 6px;
}

.trains {
    --colsNum: 4;
    --gap: 20px;
    --gapCount: (var(--colsNum) - 1);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.trains .no-trains {
    --color: #D32F2F;
    padding: 16px 32px;
    background-color: #fff;
    border: 1px solid var(--color);
    border-radius: 4px;
    color: var(--color);
}
.trains .no-trains::before {
    content: '!';
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-weight: 900;
    border-radius: 50%;
    color: #fff;
    background-color: var(--color);
    margin-right: 12px;
}
.trains .no-trains.back::before {
    content: '👋🏻';
    background-color: unset;
}

.train-card {
    --color: '';
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc((100% / var(--colsNum)) - (var(--gap) * var(--gapCount) / var(--colsNum)));
    padding: 16px;
    border-radius: 4px;
    color: var(--color);
    background-color: var(--color);
}
.train-card .name {
    font-weight: bold;
    width: fit-content;
    position: relative;
    margin-bottom: 4px;
}
.train-card .name::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--color);
}
.train-card p {
    filter: grayscale(1) contrast(999) invert(1);
}
@media (max-width: 900px) {
    .lines {
        gap: 20px 60px;
    }
    .trains {
        --colsNum: 3;
    }
}
@media (max-width: 600px) {
    .lines {
        gap: 10px 40px;
    }
    .trains {
        --colsNum: 2;
    }
}

.loading {
    padding: 30px 0;
    font-size: 30px;
    font-weight: bold;
    animation: loading 2s infinite linear;
}
@keyframes loading{
    0% { transform: rotate(0); }
    100% { transform: rotate(360deg); }
}